.resume {
    background-color: #0348a3;
    height: 500px;
    display: flex;
    justify-content: space-between;
}
.resume-icon {
    max-width: 394.5px;
    max-height: 50px;
    margin: 40px 0px 0px 35px;
}
/* .resumeimga:hover {
    transform: translateX(-200px);
    transition: transform 500ms ease-in-out 25ms;
} */
.resumeimg {
    max-width: 70%;
    max-height: 70%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: right;
    margin-right: 150px;
}
h1 {
    color: white;
    margin: 25px 0px 0px 45px;
}
.skills-list {
    margin: 20px 0px 0px 70px;
}
.skills-list-item {
    color: white;
}