.contact {
    background-color: white;
    height: 500px;
}
.contact-icons {
    text-align: center;
}
.github-logo {
    max-width: 100px;
    max-height: 100px;
}
.insta-logo {
    max-width: 100px;
    max-height: 100px;
}
.contact-container {
    text-align: center;
}
